* {
  box-sizing: border-box;
}
h1 {
  margin: 0 0 1em 0;
}
.container {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
a {
  font-family: "Oswald", sans-serif;
}
header {
  display: flex;
}
caption {
  margin-bottom: 1em;
  border-bottom: 1px solid #000;
}
table {
  border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
}
td {
  border: 1px solid black;
  padding: 1em;
}
th {
  border: 2px dotted #000;
}
/* Séparateur pour midi  */
.blackCase {
  background-color: #000;
}
.pseudoCode {
  text-align: center;
  background: #dae2f8; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #d6a4a4,
    #dae2f8
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #d6a4a4,
    #dae2f8
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.openClassrooms {
  background-color: #eb5f55;
}
.codeGame {
  background: #2bc0e4; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    50rad,
    #0b1011 0%,
    #2bc0e4 50%
  ); /* Chrome 10-25, Safari 5.1-6 */

  background: linear-gradient(50rad, #0b1011 0%, #2bc0e4 50%);
} /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

.pomodoro {
  background-color: aliceblue;
}
.repetition {
  background: antiquewhite;
}
.day {
  background-color: #ff5acd;
  color: #fff;
  padding: 1em;
}
.routineSoir {
  background-color: #fbda61;
  background-image: linear-gradient(45deg, #fbda61 0%, #ff5acd 100%);
}
.routineMatin {
  background-color: #fbda61;
  background-image: linear-gradient(50rad, #ff5acd 0%, #fbda61 50%);
}
h3 {
  font-size: 1.5em;
}
